@import "../../theme.css";

.CodeMirror {
    height: 95vh;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
}

.filename {
    height: 5vh;
    background-color: var(--editor-bg-color);
    font-size: 12px;
    color: white;
    user-select: none;
}

/* Gutter */

.commands {
    width: 10px;
    margin-left: 10px;
    background-color: #151515;
}