@import "../../theme.css";

.tabBar {
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    padding: 4px;
    background-color: var(--light-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tabButton {
    cursor: pointer;
    margin: 10px;
}