#newCommandBtn {
    cursor: pointer;

    margin: 4px 2px;
    padding: 4px 6px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: var(--theme-color);
    color: white;
}

#newCommandBtn:hover {
    background-color: var(--theme-color);
    color: white;
}