@import "../../../theme.css";

/* Decorator Header */

.headerBase {
    user-select: none;
    padding-left: 5px;
    border-radius: 2px;
}

.selected {
    background-color: #31363F;
}

.validFile {
    cursor: pointer;
}

.invalidFile {
    color: rgb(88, 93, 97)
}