body {
    padding: 0px;
    margin: 0px;
}

/* Split Pane CSS Rules */

.split,
.gutter.gutter-horizontal {
    float: left;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.gutter.gutter-vertical, .gutter.gutter-horizontal {
    background-color: #151515;
}